{% extends "base.html" %}

{% block content %}
<div class="container">
  <section>
    <div class="page-header"><h1>{{ _('Set Secret') }}</h1></div>
    <div class="row">
      <form role="form" id="password_create" method="post" autocomplete="off">
        <div class="col-sm-6 margin-bottom-10">
          <div class="input-group">
            <span class="input-group-addon" id="basic-addon1"><span class="glyphicon glyphicon-lock" aria-hidden="true"></span></span>
            <textarea rows="10" cols="50" id="password" name="password" autofocus="true" class="form-control" placeholder="{{ _('SnapPass allows you to share secrets in a secure, ephemeral way. Input a single or multi-line secret, its expiration time, and click Generate URL. Share the one-time use URL with your intended recipient.') }}" aria-describedby="basic-addon1" autocomplete="off" required></textarea>
          </div>
        </div>

        <div class="col-sm-2 margin-bottom-10 text-center">
          <select class="form-control" name="ttl">
            <option value="Two Weeks">{{ _('Two Weeks') }}</option>
            <option value="Week">{{ _('Week') }}</option>
            <option value="Day">{{ _('Day') }}</option>
            <option value="Hour" selected="selected">{{ _('Hour') }}</option>
          </select>
          <small class="form-text text-muted">{{ _('Validity') }}</small>
        </div>

        <div class="col-sm-2 margin-bottom-10 padding-10 text-center">
          <input type="number" class="form-control" name="max_access_count" placeholder="{{ _('Maximum Count') }}" min="1" required value="1">
          <small class="form-text text-muted">{{ _('Count of users to share with') }}</small>
        </div>
        <div class="col-sm-4">
          <button type="submit" class="btn btn-primary" id="submit">{{ _('Generate URL') }}</button>
        </div>
      </form>
    </div>
  </section>

<div class="page-header"><h1>{{ _('File Share') }}</h1></div>
<form id="uploadForm" method="POST" enctype="multipart/form-data" action="/upload">
    <label for="fileInput">Select files</label>
    <input type="file" class="form-control" id="fileInput" name="file" multiple>
    <small class="form-text text-muted">{{ _('Max 50 mb supported') }}</small>
    <br><br>
        <div class="col-sm-2 margin-bottom-10 text-center">
      <select class="form-control" name="file_ttl" id="file_ttl">
        <option value="Two Weeks">{{ _('Two Weeks') }}</option>
        <option value="Week">{{ _('Week') }}</option>
        <option value="Day">{{ _('Day') }}</option>
        <option value="Hour" selected="selected">{{ _('Hour') }}</option>
      </select>
      <small class="form-text text-muted">{{ _('Validity') }}</small>
    </div>
    <button type="submit" class="btn btn-primary">Upload</button>
  </form>
    <div class="status" id="status"></div>
<script>
  const uploadForm = document.getElementById('uploadForm');
  const fileInput = document.getElementById('fileInput');
  const statusDiv = document.getElementById('status');
  const fileTtl = document.getElementById('file_ttl');


  // Dynamically determine protocol (http/https) to match the page's protocol
  const protocol = window.location.protocol;
  const uploadUrl = "{{ upload_url }}".replace(/^http:/, protocol);

  uploadForm.addEventListener('submit', async (e) => {
    e.preventDefault();

    const files = fileInput.files;
    if (files.length === 0) {
        statusDiv.textContent = 'Please select files to upload.';
        return;
    }

    const formData = new FormData();
    // Append all selected files to FormData
    for (let i = 0; i < files.length; i++) {
        const encodedFilename = encodeURIComponent(files[i].name);
        formData.append('file', files[i], encodedFilename);
    }
    
    // Append the TTL value to the formData
    formData.append('file_ttl', fileTtl.value);

    try {

        const response = await fetch(uploadUrl, {

            method: 'POST',
            body: formData
        });

        if (!response.ok) {
            throw new Error(`HTTP error! status: ${response.status}`);
        }

        const result = await response.json();

        if (response.ok) {
            // Ensure the download link uses the correct protocol
            let downloadLinkUrl = result.download_link;
            if (window.location.protocol === "https:" && downloadLinkUrl.startsWith("http:")) {
                downloadLinkUrl = downloadLinkUrl.replace(/^http:/, "https:");
            }
          
            const downloadLink = document.createElement('a');
            downloadLink.href = downloadLinkUrl;
            downloadLink.textContent = 'Click here to download your files';
            downloadLink.target = '_blank';
          
            const copyButton = document.createElement('button');
            copyButton.textContent = 'Copy Link';
            copyButton.classList.add('copy-button');
            copyButton.addEventListener('click', () => {
                navigator.clipboard.writeText(downloadLinkUrl).then(() => {
                    copyButton.classList.add('copied');
                    copyButton.textContent = 'Copied!';
                }).catch(err => {
                    alert('Failed to copy the link: ' + err);
                });
            });
          
            statusDiv.textContent = 'Files uploaded successfully: ';
            const linkContainer = document.createElement('div');
            linkContainer.classList.add('link-container');
            linkContainer.appendChild(downloadLink);
            linkContainer.appendChild(copyButton);
            statusDiv.appendChild(linkContainer);
        } else {
            statusDiv.textContent = `Error: ${result.error || 'Unknown error occurred'}`;
        }

    } catch (error) {
        console.error('Error during file upload:', error);
        statusDiv.textContent = `Error: ${error.message}`;
    }
});
</script>
</div>
{% endblock %}

{% block js %}
{% endblock %}